@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.game-word-choices {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: aliceblue;
  font-size: 2rem;
  border: 5px solid aliceblue;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.game-word-choice {
  cursor: pointer;
}
