@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.game-word-display {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  letter-spacing: 5px;
  user-select: none;
}
