@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.game-drawbotage-modal {
  font-family: "Montserrat", sans-serif;
  color: #5d6d7e;
  user-select: none;
}

.game-drawbotage-modal-title {
  font-weight: 700;
}

.game-drawbotage-modal-team-name {
  text-transform: capitalize;
}

.game-drawbotage-modal-team1-color {
  color: #5499c7;
}

.game-drawbotage-modal-team2-color {
  color: #52be80;
}
