@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.rcw-launcher {
  display: none;
}

.rcw-widget-container {
  position: static;
}

.rcw-conversation-container .rcw-header {
  padding: 0;
  background-color: #44a1f2;
  border-radius: 5px 5px 0 0;
}

.rcw-conversation-container .rcw-title {
  font-size: 2rem;
}

.rcw-messages-container {
  max-height: none;
  border: 1px solid #d0d3d6;
}

.rcw-conversation-container {
  box-shadow: none;
  border-radius: 5px;
}

.rcw-sender {
  border-left: 1px solid #d0d3d6;
  border-right: 1px solid #d0d3d6;
  border-bottom: 1px solid #d0d3d6;
  border-radius: 0 0 5px 5px;
}

.rcw-client .rcw-message-text {
  font-family: "Montserrat", sans-serif;
  background-color: #44a1f2;
  color: white;
  border-radius: 10px;
  padding: 15px;
  max-width: 215px;
  text-align: left;
}

.rcw-response .rcw-message-text {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f7f9;
  border-radius: 10px;
  padding: 15px;
  max-width: 215px;
  text-align: left;
}

.rcw-new-message {
  font-family: "Montserrat", sans-serif;
}
