@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.game-size-container {
  height: 90%;
}

.game-container {
  font-family: "Caveat", cursive;
}

.semi-bold {
  font-weight: 500;
}
