@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.game-header {
  font-family: "Caveat", cursive;
  font-weight: bold;
  /* background-color: #44a1f2; */
  background-color: #5d6d7e;
  color: white;
  font-size: 3rem;
}
