.game-teams-container {
  border: 2px solid #d0d3d6;
  border-radius: 10px;
  /* padding: 10%; */
}

.game-team-1 {
  height: 33.33%;
}

.game-team-2 {
  height: 33.33%;
}

.game-spectators {
  height: 33.33%;
}

.game-team-1-header {
  color: #5499c7;
}

.game-team-2-header {
  color: #52be80;
}

.game-spectators-header {
  color: #5d6d7e;
}
