.home-form-tab {
  cursor: pointer;
  position: relative;
  padding-bottom: 0.25rem;
}

.home-form-tab--active {
  border-bottom: 2px solid;
}

.home-form-tab:not(.home-form-tab--active):hover .slider {
  width: 100%;
}

.slider {
  position: absolute;
  display: block;
  top: 100%;
  left: 0%;
  width: 0%;
  height: 2px;
  transition: width ease-in 0.5s;
}
