select {
  text-align: center;
  text-align-last: center;
}

.join-button,
.create-button {
  cursor: pointer;
}

.join-or-create-game {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.join-or-create-game input,
.join-or-create-game select {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  height: 60px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.join-or-create-game input:focus {
  background-color: white;
  border-color: #ccd2d9;
  opacity: 0.8;
}

.join-form input:focus {
  border-bottom: 2px solid theme-color("primary");
}

.create-form input:focus {
  border-bottom: 2px solid theme-color("dark-primary");
}

.first-option-muted:invalid {
  color: #636c72;
}

.first-option-muted option:not(:first-child) {
  color: initial;
}

.joinForm-enter,
.createForm-enter {
  opacity: 0;
}

.joinForm-enter-active,
.createForm-enter-active {
  opacity: 1;
  transition: opacity ease-in-out 1500ms;
}

.joinForm-enter-done,
.createForm-enter-done {
  opacity: 1;
}
