@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.game-header {
  font-family: "Caveat", cursive;
  font-weight: bold;
  color: white;
  font-size: 3rem;
  background-image: linear-gradient(
    to right,
    #5d6d7e,
    #657688,
    #6c7f93,
    #74889d,
    #7c91a8
  );
  user-select: none;
}
