@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.chat {
  border: 1px solid #d0d3d6;
}

.chat-header {
  color: #5d6d7e;
  user-select: none;
}

.chat-header-content {
  font-size: 1.75rem;
}

.chat-conversation,
.chat-sender {
  font-family: "Montserrat", sans-serif;
}

.chat-conversation {
  overflow-y: scroll;
}

.chat-sender-button {
  cursor: pointer;
  color: #5d6d7e;
}

.chat-sender-input {
  border: none;
}

.chat-sender-input:focus {
  outline: none;
}

.chat-message {
  /* color: #444444; */
  color: #5d6d7e;
}
