.settings-enter,
.info-enter {
  opacity: 0;
}

.settings-enter-active,
.info-enter-active {
  opacity: 1;
  transition: opacity ease-in 700ms;
}

.settings-enter-done,
.info-enter-done {
  opacity: 1;
}
